:root {
  --primary: #1a1a1a;
  --accent: #ffcc00;
  --bg: #0a101d;
  --text: #ffffff;
  --muted: #d1d5db;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  color: var(--text);
  background: var(--bg);
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
}
.container {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  padding: 2rem 0;
}
.site-header {
  position: sticky;
  top: 0;
  background: rgb(15, 23, 42);
  z-index: 100;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 20px;
}
.logo {
  height: 40px;
}
.nav-menu a {
  margin: 0 0.75rem;
  color: var(--text);
  text-decoration: none;
  font-weight: 600;
}

.header-image-logo {
  max-width: 150px;
  width: 150px;
}

.header-image-ontario {
  width: 150px;
  height: auto;
  margin-left: auto;
  margin-right: 10px;
}
.header-image-ontario img {
  width: 100%;
}

.logo-link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
@media screen and (max-width: 768px) {
  .header-image-logo {
    max-width: 150px;
    width: auto;
  }
  .header-image-logo img {
    width: 100%;
  }

  .header-image-ontario {
    max-width: 120px;
    height: auto;
    margin-left: auto;
    margin-right: 10px;
  }
  .header-image-ontario img {
    width: 100%;
  }

  .login-btn {
    display: none;
  }
  .btn-header {
    text-align: center;
    font-size: 10px;
  }
}

.btn-header {
  background: var(--accent);
  color: #000;
  padding: 0.75rem 1rem;
  border: none;
  border-radius: 40px;
  font-weight: 600;
  text-decoration: none;
}

.btn-header:hover {
  background: #cca300;
}

.login-btn {
  color: var(--primary);
  background: var(--muted);
  margin-right: 10px;
}
.login-btn:hover {
  background: #999;
}
.hero-section {
  position: relative;
  overflow: hidden;
  background: linear-gradient(
      to right,
      rgba(10, 16, 29, 0.7),
      rgba(10, 16, 29, 0.7)
    ),
    url("https://v.fastcdn.co/t/744530a1/72ecacae/1752807484-65530609-ghost-KLd8MZ.jpg")
      no-repeat center center;
  background-size: cover;
}

.hero-slider {
  position: relative;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  transition: transform 0.5s ease;
  max-width: 1024px;
}

.hero-slide {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  transform: translateX(100%);
  transition: opacity 0.5s ease, transform 0.5s ease;
  padding: 15px;

  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  pointer-events: none;

  font-weight: 700;
}

.hero-slide h1 {
  font-weight: 700;
}
.hero-slide.active {
  opacity: 1;
  transform: translateX(0%);
  pointer-events: auto;
  z-index: 2;
}
.hero-slide.active.variantB {
  opacity: 1;
  transform: translateX(-100%);
  pointer-events: auto;
  z-index: 2;
}

/* Коли виходить вліво */
.hero-slide.exit-left {
  transform: translateX(-100%);
  opacity: 0;
  z-index: 1;
}

/* Коли виходить вправо */
.hero-slide.exit-right {
  transform: translateX(100%);
  opacity: 0;
  z-index: 1;
}

.hero-nav {
  position: absolute;
  top: 20%;
  transform: translateY(-50%);
  background: var(--accent);
  border: none;
  font-size: 2rem;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border-radius: 50%;
  cursor: pointer;
  z-index: 10;
}

.hero-nav.left {
  left: 1rem;
}

.hero-nav.right {
  right: 1rem;
}

@media (min-width: 768px) {
  .hero-slide {
    padding: 2rem 2rem;
  }
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  color: var(--accent);
  margin-bottom: 0.5rem;
}
h2 {
  font-size: 1.25rem;
  color: var(--muted);
  margin-bottom: 1rem;
}
p {
  margin-bottom: 1rem;
}
.hero-video {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 1rem;
}
.cta-group {
  display: none;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1rem;
}
.btn {
  width: 100%;
  padding: 0.75rem;
  font-weight: 700;
  border: none;
  border-radius: 40px;
  cursor: pointer;
}
.primary {
  background: var(--accent);
  color: #000;
}
.primary:hover {
  background: #cca300;
  color: #000;
}
.secondary {
  background: var(--accent);
  color: #000;
}
.secondary:hover {
  background: #cca300;
  color: #000;
}
.tooltip {
  font-size: 1rem;
  font-weight: 700;
  color: var(--text);
  margin-bottom: 1rem;
}
.hero-note {
  font-size: 0.9rem;
  color: #fff;
  font-weight: 700;
}
.offers {
  padding: 15px 0;
  text-align: center;
}
.offer-cards {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.offer-card {
  background: #111827;
  border: 2px solid #f2c94c;
  border-radius: 12px;
  padding: 24px;
  color: #ffebd2;
  box-shadow: 0 0 10px rgba(242, 201, 76, 0.3);

  transition: transform 0.3s ease;
  will-change: transform;
}

.offer-card:hover {
  transform: scale(1.05);
}

.offers h2 {
  margin-bottom: 1rem;
}
.offer-note {
  font-size: 0.85rem;
  color: #ffebd2;
  margin-top: 1rem;
}
.trust ul {
  list-style: none;
  display: grid;
  gap: 0.75rem 0;
}
.trust li {
  font-weight: 600;
}
.payment .payment-logos {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  margin-top: 1rem;
}
.payment-logos img {
  height: 40px;
}

.ab-toggle {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}
.variant {
  display: none;
}
.variant.active {
  display: block;
}

.cta-group div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}

/* Responsive Desktop */
@media (min-width: 768px) {
  .header-container {
    padding: 1.5rem 15px;
  }
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  .cta-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
  }
  .cta-group div {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .offer-cards {
    flex-direction: row;
    gap: 1rem;
  }
  .offer-card {
    flex: 1;
  }
}

/* ////////////////////// */
.offer-section {
  padding: 2rem 1rem;
  padding-bottom: 0;
  background: transparent;
  text-align: center;
  background: url("./assets/img/bg.webp");
}

.section-title {
  font-size: 2rem;
  margin-bottom: 2rem;
  font-family: "Montserrat", sans-serif;
  color: #fff;
}

.offers {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.offer-card {
  padding-top: 160px !important;
  position: relative;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 20px;
  padding: 15px;
  max-width: 320px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  backdrop-filter: blur(10px);
  color: #fff;
  overflow: hidden;
}

.offer-card-first .card-bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 150px;
  width: 100%;
  background: url("./assets/img/95-free-s.webp") no-repeat center center;
  background-size: cover;
}
.offer-card-second .card-bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 150px;
  width: 100%;
  background: url("./assets/img/bonus.png") no-repeat center center;
  background-size: cover;
}

.offer-card h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.3rem;
  margin-bottom: 5px;
}

.offer-card h3 .highlight {
  color: #e9d54f;
  font-size: 1.5rem;
}

.offer-card h3 .light {
  display: block;
  font-weight: 400;
  font-size: 1.5rem;
  color: #e9d54f;
}

.offer-card ul {
  list-style: none;
  padding: 0;
  margin-bottom: 1rem;
  font-size: 0.9rem;
}

.offer-card .btn {
  margin-top: auto;
  padding: 10px 20px;
  border-radius: 30px;
  background: #f2b300;
  border: none;
  color: #000;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
}

.offer-card .btn.secondary {
  background: #fff;
  color: #000;
}

.offer-header .pack-name {
  position: absolute;
  top: 0px;
  left: 0px;
  background: #fff;
  color: #000;
  font-size: 0.75rem;
  font-weight: bold;
  padding: 4px 10px;
  border-bottom-right-radius: 14px;
  z-index: 2;
}

.or {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
}

.payments {
  margin-top: 0;
}

.payments h4 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  color: #fff;
}

.payments p {
  font-size: 1rem;
  color: #ccc;
}

.payment-icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
  background: #9b7305;
  margin-left: -20px;
  margin-right: -20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.payment-icons img {
  height: 30px;
  filter: brightness(0) invert(1);
}

/* Responsive */
@media (min-width: 768px) {
  .offers {
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
  }
}

.steps {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  padding: 50px 20px;
  overflow: hidden;
  background: #11182780;
  color: #fff;
  box-shadow: 0 0 10px rgba(242, 201, 76, 0.3);
  margin-right: -20px;
  margin-left: -20px;
  margin-bottom: 20px;
}

.steps-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.step-block {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.step-text {
  display: flex;
  flex-direction: column;
  align-items: start;
  text-align: start;
}

.steps h3 {
  font-size: 22px;
  text-align: center;
  margin-bottom: 10px;
}

.steps p {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  text-align: start;
  max-width: 300px;
  margin: 0 auto;
}

/* Цифри (1, 2, 3) */
.steps .circle {
  width: 60px;
  height: 60px;
  background: var(--accent, #f2b300);
  border-radius: 50%;
  color: #000;
  font-weight: 700;
  font-size: 32px;
  line-height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  margin-bottom: auto;
}

/* Фонові ігрові картинки */
.step-bg-1,
.step-bg-2,
.step-bg-3,
.step-bg-4,
.step-bg-5 {
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100px;
  height: 100px;
  z-index: 0;
  opacity: 0.3;
}

.step-bg-1 {
  top: -50px;
  left: 0;
  background-image: url("./assets/img/gift.webp");
}

.step-bg-2 {
  bottom: 0px;
  left: 50%;
  background-image: url("./assets/img/gift.webp");
}

.step-bg-3 {
  top: -30px;
  right: 0;
  background-image: url("./assets/img/gift.webp");
}

.step-bg-4 {
  top: 0px;
  left: 30%;
  background-image: url("./assets/img/gift.webp");
}

.step-bg-5 {
  top: 40px;
  right: 10%;
  background-image: url("./assets/img/gift.webp");
}

/* Адаптив */
@media (max-width: 768px) {
  .steps {
    flex-direction: column;
    padding-bottom: 0;
  }

  .steps-container {
    flex-direction: column;
    align-items: start;
  }

  .step1,
  .step2,
  .step3 {
    position: static;
    margin-bottom: 40px;
  }

  .step-bg-1,
  .step-bg-2,
  .step-bg-3,
  .step-bg-4,
  .step-bg-5 {
    display: none;
  }
}

.trust-section {
  padding: 0rem 1rem;
  background: var(--bg);
  text-align: center;
}

.trust-section .section-title {
  font-size: 2rem;
  margin-bottom: 2rem;
  font-family: "Montserrat", sans-serif;
}

.trust-carousel {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;

  /* scroll-snap-type: y mandatory; */
  -webkit-overflow-scrolling: touch;
  padding-bottom: 1rem;
}

.trust-item {
  min-width: 250px;
  flex: 0 0 auto;
  background: #111827;
  border-radius: 12px;
  padding: 0px;
  color: #ffebd2;
  box-shadow: 0 0 10px rgba(242, 201, 76, 0.3);

  box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
  scroll-snap-align: start;

  animation: pulse-scale 2s ease-in-out forwards;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes pulse-scale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

.trust-item:nth-child(1) {
  animation-delay: 2s;
}
.trust-item:nth-child(2) {
  animation-delay: 3s;
}
.trust-item:nth-child(3) {
  animation-delay: 4s;
}
.trust-item:nth-child(4) {
  animation-delay: 5s;
}
.trust-item:nth-child(5) {
  animation-delay: 6s;
}

.trust-item img {
  height: 48px;
}

.trust-item h3 {
  font-size: 1.1rem;
  margin: 0.5rem 0;
  font-family: "Montserrat", sans-serif;
  border-top: 1px solid var(--muted);
}

.trust-item p {
  font-size: 0.95rem;
  color: #d8d8d8;
  font-family: "Open Sans", sans-serif;
}

@media (min-width: 768px) {
  .trust-carousel {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    /* overflow: visible; */
  }

  .trust-item {
    width: 200px;
  }
}
@media (max-width: 768px) {
  .trust-carousel {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }

  .trust-item {
    max-width: 250px;
  }
}
.section-inner {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.game-section-header {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
}
.game-section-header img {
  width: 100%;
}

.firework {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: -10;
}

.game-image {
  max-width: 150px;
  width: 150px;
}

.section-logo-games {
  gap: 25px;
}

.section-game {
  margin-top: 20px;
}

.lucky-wheel-section {
  background: linear-gradient(to right, #003739, #002d2d);
  padding: 60px 20px;
  margin-bottom: 20px;
  color: #fff;
}

.lucky-wheel-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  flex-direction: raw;
  max-width: 1200px;
  margin: 0 auto;
  gap: 2rem;
}

.lucky-wheel-text {
  flex: 1 1 400px;
}

.lucky-wheel-text h2 {
  font-size: 2.2rem;
  font-weight: 700;
  margin-bottom: 20px;
  font-family: "Montserrat", sans-serif;
}

.lucky-wheel-text p {
  font-size: 1.1rem;
  margin-bottom: 30px;
  font-family: "Open Sans", sans-serif;
}

.btn-primary {
  background-color: var(--accent);
  color: var(--primary);
  font-size: 1rem;
  padding: 12px 30px;
  border-radius: 999px;
  text-decoration: none;
  transition: background-color 0.3s ease;
  display: inline-block;
  font-weight: 600;
}

.btn-primary:hover {
  background-color: #cca300;
}

.lucky-wheel-image {
  flex: 1 1 400px;
  text-align: center;
}

.lucky-wheel-image img {
  max-width: 100%;
  height: auto;
}

.lucky-wheel-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
  gap: 2rem;
}

/* Responsive */
@media (max-width: 550px) {
  .game-image {
    width: 100%;
  }
}
@media (max-width: 971px) {
  .lucky-wheel-content {
    flex-direction: column-reverse;
    text-align: center;
  }

  .lucky-wheel-text h2 {
    font-size: 1.8rem;
  }
}

.lucky-wheel-section {
  position: relative;
  overflow: hidden;
  padding: 80px 20px;
  z-index: 0;
}

.lucky-wheel-section::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("https://v.fastcdn.co/t/744530a1/72ecacae/1752807485-65533436-ghost-SugarRush.jpg");
  background-size: cover;
  background-position: center;
  z-index: -2;
}

.text {
  flex: 1 1 300px;
  max-width: 300px;
}

.text h2 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 20px;
}

.text p {
  font-size: 1.1rem;
  margin-bottom: 30px;
}

.wheel {
  max-width: 600px;
  text-align: center;
}

.wheel img {
  max-width: 100%;
  height: auto;
  transition: transform 2s ease-in-out;
}

.wheel {
  position: relative;
  display: block;
  background: url("https://v.fastcdn.co/u/744530a1/65533435-0-Lucky-Rewards-Wheel.gif")
    no-repeat;
  background-position: right 70px top 10px;
  background-size: contain;
  overflow: visible;
}

#wheel-img {
  position: relative;
  z-index: -1;
  display: block;
  max-width: 100%;
  height: auto;
}

@media screen and (max-width: 450px) {
  #wheel-img {
    width: 95%;
  }
}
@media screen and (max-width: 380px) {
  #wheel-img {
    width: 90%;
  }
}

.footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: start;
  padding: 1rem 0;
  font-size: 0.8rem;
  color: var(--muted);
}

.footer-container {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  width: 100%;
  padding: 0 40px;
}

.footer-description {
  display: flex;
  flex-direction: column;
  margin: 0;
  max-width: 600px;
  width: 100%;
}

.url-link {
  color: var(--muted);
  text-decoration: underline;
}

.time {
  margin-right: auto;
  margin-left: 40px;
}
.time a {
  color: var(--muted);
  font-size: 0.8rem;
  margin-top: 10px;
}

ul {
  list-style: none;
}

.footer-nav ul {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-right: auto;
  margin-left: 40px;
}

.footer-nav a {
  color: var(--muted);
  text-decoration: none;
  font-size: 0.8rem;
}

.foot-nav-item:hover,
:focus {
  text-decoration: underline;
}

.footer-logo {
  display: flex;
  align-items: center;
  justify-content: start;
  margin-right: auto;
  margin-left: 40px;
  padding: 0 15px;
}

.footer-logo img {
  width: 100px;
  height: auto;
}

.logo-footer {
  margin-right: auto;
  margin-left: 40px;
}
@media screen and (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
  }
  .footer-nav ul {
    justify-content: center;
    margin-bottom: 20px;
    margin-left: 0;
  }
  .footer-logo {
    flex-wrap: wrap;
    margin-left: auto;
    justify-content: center;
  }
  .footer-logo img {
    width: 80px;
  }
  .time {
    margin-left: auto;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in-up {
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.fade-in-up.visible {
  opacity: 1;
  transform: translateY(0);
  animation: fadeInUp 0.8s ease forwards;
}

.bg-decorations {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: -1;
}

.bg-item {
  position: absolute;
  width: 60px;
  height: 60px;
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0.6;
  animation: float 8s ease-in-out infinite;
  z-index: 10;
}

@keyframes float {
  0% {
    transform: translateY(0) scale(1);
    opacity: 0.5;
  }
  50% {
    transform: translateY(-10px) scale(1.1);
    opacity: 0.8;
  }
  100% {
    transform: translateY(0) scale(1);
    opacity: 0.5;
  }
}
